<% if current_user %>
  <%= render 'projects/quick_add' %> 
  <% current_user.projects.each do |project| %>
    <div class='project'>
      <h3><%= link_to project.title, user_project_path(current_user, project) %></h3>
    </div>
  <% end %>
<% else %>
  <%= render 'devise/sessions/new' %>
<% end %>
