<% if current_user %>
  <%= render 'projects/quick_add' %> 
  <% current_user.projects.each do |project| %>
    <li><%= link_to project.title, user_project_path(current_user, project) %></li>
  <% end %>
<% else %>
  <%= render 'devise/sessions/new' %>
<% end %>
